.wrapper {
    max-width: 300px;
    height: max-content;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.text {*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/