.wrapper {
    min-width: 300px;
    max-width: 500px;
    height: max-content;
    max-height: 500px;
    padding: 24px 16px 24px 16px;
    box-sizing: border-box;
    border: 1px solid #869cdb;
    border-radius: var(--standart-br);
    overflow: hidden;
    background: linear-gradient(20deg, rgba(255,255,255,0.25) 25%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0.25) 75%);
    background-size: 400%;
    background-position: 0;
}


.wrapper:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    /*align-items: s;*/
    font-weight: bold;
    gap: 5px;
}

.button {
    align-self: start;
}

@keyframes endA {
    0% { background-position: 100% }
    100% { background-position: 0 }
}

@keyframes startA {
    100% { background-position: 100% }
}

.wrapper:hover {
    animation: .5s ease-out startA forwards;
}

.wrapper:not(:hover) {
    animation: .5s ease-out endA;
}
