.wrapper {
    min-width: 300px;
    max-width: 500px;
    height: max-content;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #512DA8FF;
    border-radius: 7%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.25);
}


.wrapper:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}