.notes {
    box-sizing: border-box;
    padding: 3vw;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    /*flex-wrap: wrap;*/
    /*gap: 15px;*/
}

.notes::-webkit-scrollbar,
.notes::-webkit-scrollbar-corner  {
    background-color: rgba(0, 0, 0, 0);
}

.notes::-webkit-scrollbar-thumb {
    background: var(--bgScroll);
    border-radius: var(--standart-br);
    box-shadow: inset 0 0 4px 0 rgb(0 0 0 / 22%);
}
