.btnStyle {
    background: linear-gradient(to right, #29a98b 0%, rgba(96, 208, 141, 0.67) 51%,  #29a98b  100%);
    color: white;
    padding: 5px 20px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    box-sizing: border-box;
    transition: 0.5s;
    background-size: 200% auto;
    width: 200px;
}

.btnStyle:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}