.navBar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 10px;
}

.icon{
    width: 30px;
    height: 30px;
}