.btnStyle {
    color: white;
    border-radius: var(--standart-br);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    transition: 0.3s;
    border: none;
}

.btnStyle:hover {
    box-shadow: 0 0 20px 1px rgb(212 255 206);
}

.btnStyle:active {
    transform: scale(.9);
}
