.btnStyle {
    background: #d37676;
    color: white;
    width: 30px;
    padding: 5px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    box-sizing: border-box;
}