:root {
    --textColor: rgb(37, 78, 121);
    --bgPage: linear-gradient(246deg, #d5cffd 0%, #cbedfc 100%);
    --bgAddNote: linear-gradient(to top, #cfc4e8 0%, #c9f2db 120%);
    --bgScroll: #69ddc77d;

    /* Background for Buttons */

    --bgAddBtn: rgb(50 189 176);
    --bgCancelBtn: rgba(255 0 0 / 51%);
    --bgDelBtn: rgba(255 0 0 / 51%);
    --bgSaveBtn: rgb(50 189 176);
}
