@import "colorVariables.css";

html {
    height: 100vh;
    overflow-y: hidden;
    background: var(--bgPage), no-repeat;
    background-size: cover;
    color: var(--textColor);
}

input, body {
    font-family: "Microsoft JhengHei UI", sans-serif;
    margin: 0;
}
